<head>
	<title>trackadactyl</title>
</head>


<body>
	{{> header}}

	<div id="app">
		<section id="main" class="row">
			<div class="alert alert-info loading"><b>Loading stuff for you!</b></div>
		</section>
	</div>

</body>


<template name="welcome">
	{{#if projects}}
	<div class="fluid-row">
		<div class="page-header">
			<h1>Hey-hey. <small>Select a project and get started!</small></h1>
		</div>
	</div>
	<div class="fluid-row">
		{{#each projects}}
		<div class="span6 panel select-project">
			<h3 class="title">{{title}}</h3>
		</div>
		{{/each}}
		<button class="btn btn-primary"><i class="icon-white icon-plus-sign"></i> Start a new project!</button>
	</div>
	{{else}}
	<div class="fluid-row">
		<h1>Welcome. <small>We're glad you're here but it looks like you don't have any projects yet.</small></h1>
		<p><a class="btn btn-primary">Start a project</a></p>
	</div>
	{{/if}}
</template>


<template name="header">
	<nav class="top-bar">
		<!-- Title Area -->
		<ul>
			<li class="name has-dropdown">
				<h1><a href="#">{{current_project.title}}</a></h1>
				<ul class="dropdown">
					{{#each active_projects}}
					<li class="{{is_current_project}}"><a data-project="{{slug}}">{{title}}</a></li>
					{{/each}}
					<li class="divider"></li>
					<li><a data-view="projects">Manage Projects <i class="icon-wrench"></i></a></li>
				</ul>
			</li>
		</ul>

		<section>
			<!-- Left Nav Section -->
			<ul class="left">
				<li class="divider"></li>
				{{#each views}}
				<li class="{{is_current_view}}"><a data-view="{{view}}">{{title}}</a></li>
				{{/each}}
				<li class="divider"></li>
			</ul>

			<!-- Right Nav Section -->
			<ul class="right">
				<li class="{{is_current_view}}"><a data-view="reports">Reports</a></li>
				<li class="{{is_current_view}}"><a data-view="profile">Profile</a></li>
			</ul>
		</section>
	</nav>
</template>


<template name="old-header">
 	<div class="navbar navbar-fixed-top" style="border-top-color: {{project_color}};">
		<div class="navbar-inner">
			<div class="fluid-container">
				<ul class="nav">
					<li class="dropdown">
					<a class="dropdown-toggle brand" data-toggle="dropdown">{{current_project.title}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{{#each active_projects}}
							<li class="{{is_current_project}}"><a href="#/{{slug}}" data-project="{{slug}}">{{title}}</a></li>
							{{/each}}
							<li class="divider"></li>
							<li><a href="#/projects" data-view="projects">Manage Projects <i class="icon-wrench"></i></a></li>
						</ul>
					</li>
					{{#each views}}
						<li class="{{is_current_view}}"><a href="#/{{view}}" data-view="{{view}}">{{title}}</a></li>
					{{/each}}
				</ul>
				<div class="pull-right">
					<a class="brand" href="#">Trackadactyl</a>
				</div>
			</div>
		</div>
	</div>
</template>


<template name="toolbar">
	<section id="toolbar" class="three columns">
		<h1>Tools!</h1>
	</section>
</template>


<template name="plan">
	<div class="fluid-row">
		<div class="hero-unit">
			<h1>Plan sucka!</h1>
			<p>Lorem ipsum</p>
		</div>
	</div>
</template>


<template name="focus">
	<div class="fluid-row">
		<div class="hero-unit">
			<h1>You better Focus!</h1>
			<p>Lorem ipsum</p>
		</div>
	</div>
</template>
