

<template name="features">
	<header>
		<h1 class="subheader">Features</h1>
	</header>
	<div class="row">
		<div class="five columns">
			{{#each features}}
				{{> feature_block}}
			{{/each}}
		</div>
		<div class="seven columns">
			{{#if selected_feature}}
				<h2>{{selected_feature.title}}</h2>
				<div class="alert-box {{selected_feature.status_class}}">Due {{selected_feature.due_date}}</div>

				<p>{{selected_feature.description}}</p>

				<h4>Images <a>[+]</a></h4>
				<div>
					<img src="http://placehold.it/140x100" alt="">
					<img src="http://placehold.it/140x100" alt="">
					<img src="http://placehold.it/140x100" alt="">						
				</div>

				<h4>Q&amp;A <a>[+]</a></h4>
				<dl>
					{{#each selected_feature.qa}}
					<dt><b>{{q}}</b></dt>
					<dd>{{a}}</dd>
					{{/each}}
				</dl>

				<h4>Tasks <a class="new-task">[+]</a></h4>
				<dl>
				{{#each tasks}}
					<dt><b>{{title}}</b></dt>
					<dd class="row">
						<div class="four columns">
							<div class="progress {{status_class}}"><span class="meter" style="width:{{progress}}%;"></span></div>
						</div>
						<div class="eight columns">{{effort.current}}hrs / {{effort.estimated}}hrs</div>
					</dd>
				{{/each}}
				</dl>

				<h4>Acceptance Criteria [+]</h4>

			{{else}}
				<div class="alert-box">Select a feature and get started!</div>
			{{/if}}
		</div>
	</div>
</template>


