

<template name="overview">
	<div>
		<h1 class="subheader">{{project.title}}</h1>
		<p>{{project.description}}</p>
	</div>
	<div class="row">
		<div class="six columns">
			<div class="panel callout">
				Progress Info
			</div>
		</div>
		<div class="six columns">
			<div class="panel">Calendar</div>
		</div>
	</div>
	
	<h3 class="subheader">{{count this_week}} features due this week</h3>
	<div class="row">
		{{#each this_week}}
			<div class="four columns">
			{{> feature_block}}
			</div>
		{{/each}}
	</div>
	
	<h4 class="subheader">{{count next_week}} features due next week</h4>
	<div class="row">
		{{#each next_week}}
			<div class="three columns">
			{{> feature_block_small}}
			</div>
		{{/each}}
	</div>
</template>
