
<template name="projects">
	<div class="row">
		<div class="page-header">
			<h1>Manage Projects</h1>
		</div>
		
	</div>
	<div class="row">
		<div class="span4">
			<div class="well">
				<h2>Active Projects:</h2>
				<ul class="nav nav-pills nav-stacked">
				{{#each projects.active}}
					<li class="{{is_active}}"><a class="select-project"><strong>{{title}}</strong></a></li>
				{{/each}}
				</ul>
			</div>

			<h3>Archived Projects</h3>
			<ul>
			{{#each projects.archived}}
				<li class="{{is_active}}"><a class="select-project">{{title}}</a></li>
			{{/each}}
			</ul>
		</div>

		<div id="edit-project" class="span8 panel">
			{{> edit_project}}
		</div>
	</div>
</template>


<template name="edit_project">
	{{#if title}}
		<h1>{{title}}</h1>
	{{else}}
		<p class="alert alert-info">Select a project, Bro.</p>
	{{/if}}
</template>