
<template name="feature_block">
	<div class="feature panel {{selected}}">
		<h4 class="title"><a>{{title}}</a></h4>
		<p><span class="label {{status_class}}">Due next week.</span></p>
		
		<p>{{description}}</p>

		<ul class="people">
		{{#each people}}
			<li><b class="icon-user"></b>{{Name}}</li>
		{{/each}}
		</ul>
	</div>
</template>


<template name="feature_block_small">
	<div class="feature panel {{selected}}">
		<h5 class="title"><a>{{title}}</a></h5>
		
		<p>{{description}}</p>
	</div>
</template>


<template name="feature_details">
	<h2>{{selected_feature.title}}</h2>
	<div class="alert-box {{selected_feature.status_class}}">Due {{selected_feature.due_date}}</div>

	<p>{{selected_feature.description}}</p>

	<h4>Images</h4>
	<div>
		<img src="http://placehold.it/140x100" alt="">
		<img src="http://placehold.it/140x100" alt="">
		<img src="http://placehold.it/140x100" alt="">						
	</div>

	<h4>Q&amp;A</h4>
	<dl>
		<dt><b>How is that one thing intended to work?</b></dt>
		<dd>It should work properly in all cases of course.</dd>
		<dt><b>Which users should have access to blah blah blah?</b></dt>
		<dd>Only the cool kids should have access.</dd>
	</dl>

	<h4>Tasks</h4>
	<dl>
	{{#each tasks}}
		<dt><b>{{title}}</b></dt>
		<dd class="row">
			<div class="four columns">
				<div class="progress {{status_class}}"><span class="meter" style="width:{{progress}}%;"></span></div>
			</div>
			<div class="eight columns">{{effort.current}}hrs / {{effort.estimated}}hrs</div>
		</dd>
	{{/each}}
	</dl>

	<h4>Acceptance Criteria</h4>

</template>